<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Title</title>
</head>
<body>
{{>header}}
<img src="/img/chuck-profile.jpg" alt="" width="150px">
{{>footer}}
</body>
</html>
